html{
    background-color: #1d1d23 ;
    font-family: myriad-pro, sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
nav img {
    width: 180px;
}
nav a {
    color: white;
}
.lazyLoadHome {
    opacity: 0;
    transform: translateY(100px);
    transition: 0.4s ease-out;
}

.HomeFade {
    opacity: 1;
    transform: translateY(0);
    transition: 0.4s ease-out;
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1d1d23;
    z-index: 1;
}
.left{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Logo img{
    margin: 50px 0 40px 0;
}
p{
    font-size: 18px;
}
.BottomNav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
}
.BottomNav a {
    color: white;
    font-weight: 800;
    margin: 0 15px 0 15px;
    letter-spacing: 1px;
    cursor: pointer;
}
.HomeContact{
    width: 30%;
    margin: 0 5% 0 5%;
   
}
.AboutUs{
    width: 80%;
    margin: 10% 0 10% 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
h2{
    font-size: 40px;
}
h1{
    font-size: 50px;
}
.Quality{
    width: 35%;
          margin: 5%;
          color: white;
          position: absolute;
          top: 260%;
}
.enjoy{
    border: 10px solid #e58f00;
    padding: 5%;
    background-color: rgba(7, 6, 17, 0.603);
    text-align: center;
    width: 33%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.firstImg {
    width: 100%;
    height: 100vh;
    background-image: url("./imgs//jumbo.png");
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}
.secoundImg {
    margin: 10% 0 0 0;
    width: 100%;
    height: 100vh;
    background-image: url("./imgs//enjoy.png");
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.yellow{
    
        display: flex;
        background-color: #e58f00;
        width: 100%;
        color: white;
        height: 500px;
        align-items: center;
        margin-top: 150px;
      
}
.Meal{


    width: 35%;
    color: white;
    display: flex;

    flex-direction: column;
    padding: 5%;
  
}
.AU{
    width: 45%;
    margin: 5%;
    color: white;
}
.AUImg{
    width: 45%;
 
}
.Body{
    background-color: #1d1d23;
}
.Gallery img {
    margin: 2%;

}
.Gallery h3{
    color: #e58f00;
}
@media(max-width: 1430px){
    .Quality{
        top: 240%;
    }
}
@media(max-width: 500px){
    h1{
        font-size: 36px !important;
    }
    .Gallery img {
        width: 350px;
        margin: 2% 0 2% 3%;
    }
    .BottomNav a {
        margin-top: 15px;
    }
    .Logo img {
        width: 210px;
    }
    .firstImg{
        margin-top: 40px;
    }
    .AUImg{
        margin-top: 20px;
    }
}
@media(max-width: 1320px){
    .Quality{
        top: 200%;
    }
}
@media(max-width: 1120px){
    .AboutUs{
        width: 90%;
    }
}


@media(max-width: 1000px){
    .Quality{
        background-color: rgba(14, 8, 43, 0.692);
        top: 0;
        width: 70%;
        padding: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -70%;
        position: relative;
    }
    .enjoy{
       width: 70%;
    }
}
@media(max-width: 800px){
    .AUImg{
        width: 80%;
    }
    .AU{
        width: 80%;
    }
    nav a {
        display: none;
    }
    
    .yellow{
        width: auto;
        flex-direction: column;
        height: auto;
        padding: 5%;
    }
    .firstImg{
        flex-direction: column !important;
    }
    .AboutUs{
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
        margin-right: 0;
    }
    .HomeContact{
        width: 80%;
    }
    .Meal{
        margin: 0;
        padding: 0;
        width: 80%;
        border: none;
    }
}
@media(max-width: 1080px){
    h2{
        font-size: 30px;
    }
    p{
        font-size: 17px;
    }
    h1{
        font-size: 40px;
    }
    .yellow{
        display: flex;
        justify-content: center;
    }
    .yellow img{
        
            width: 40%;
        
       
    }
}